/* header */
.header {
  padding-bottom: 30px;
}
.nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.nav__list {
  display: flex;
  column-gap: 32px;
}
.nav__link {
  padding: 0 6px 9px;
  border-bottom: 1px solid transparent;
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  transition: border .3s ease;
}
.nav__link:hover {
  border-bottom: 1px solid var(--color-gold);
}

/* hero */
.hero {
  height: calc(100vh - 94px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--second-family);
  text-align: center;
  text-transform: uppercase;
  background-position: bottom center;
  position: relative;
}
.hero::after {
  content: '';
  position: absolute;
  bottom: 62px;
  left: 50%;
  transform: translateX(-50%);
  width: 26px;
  height: 43px;
  cursor: pointer;
  background-image: url('./../images/icon-mouse.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.hero__title {
  font-weight: 500;
  font-size: 72px;
  color: var(--color-white);
  margin-bottom: 18px;
}
.hero__decr {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 2.74px;
  color: var(--color-gold);
}

/* about */
.about {
  padding: 155px 0;
  background-color: var(--color-bg);
}
.about .container {
  display: flex;
  justify-content: space-between;
}
.about .title {
  font-size: 48px;
  align-self: flex-start;
}
.about__text {
  max-width: 770px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  font-size: 14.8px;
  line-height: 1.71;
}

/* expertise */
.expertise {
  padding: 140px 0 160px;
}
.expertise .title {
  margin-bottom: 90px;
}
.expertise__inner {
  display: flex;
  column-gap: 30px;
  justify-content: space-between;
  margin-bottom: 110px;
}
.expertise-info {
  margin-top: 10px;
  max-width: 370px;
  width: 100%;
  flex: none;
  display: flex;
  flex-direction: column;
  row-gap: 28px;
}
.expertise-info__item {
  padding-top: 4px;
  border-top: 2px solid #1d1d1d;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.8;
  letter-spacing: 0.09em;
  color: #1d1d1d;
  position: relative;
}
.expertise-info__item span {
  position: absolute;
  top: 2px;
  right: 0;
  width: 100%;
  margin-right: 7px;
}
.expertise-info__item span::before {
  content: '';
  position: absolute;
  top: -4px;
  right: -7px;
  width: 100%;
  height: 2px;
  background-color: #F0F0F0;
}
.expertise__text {
  max-width: 770px;
  font-size: 14px;
  line-height: 1.7;
}
.expertise__text p:not(:last-child) {
  margin-bottom: 25px;
}
.expertise__items {
  display: flex;
  column-gap: 30px;
}
.expertise__item {
  max-width: 370px;
  width: 100%;
  padding-left: 85px;
  position: relative;
}
.expertise__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.expertise__item--design::before {
  background-image: url('./../images/icon-design.svg');
}
.expertise__item--dev::before {
  background-image: url('./../images/icon-dev.svg');
}
.expertise__item--marketing::before {
  background-image: url('./../images/icon-marketing.svg');
}
.expertise__item-title {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 4.29px;
  color: #333;
  margin-bottom: 14px;
}
.expertise__item-text {
  font-size: 14px;
  line-height: 1.7;
  color: #777;
}

/* magic */
.magic {
  padding: 100px 15px 200px;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}
.magic__bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}
.magic__content {
  max-width: 470px;
  margin-left: auto;
}
.magic .title {
  margin-bottom: 67px;
}
.magic__text {
  font-size: 14px;
  line-height: 1.7;
}
.magic__text p:not(:last-child) {
  margin-bottom: 25px;
}